/* ===============================
   FOOTER
=================================*/
.site-footer{
    background: #303153;
    padding: 60px 20px 20px;
    margin-top: 80px;
    /* position: absolute;
    bottom: 0; */
}

.footer-container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

/* Brand */
.footer-brand h3{
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.footer-brand p{
    color: white;
    font-size: 0.95rem;
    line-height: 1.5;
}

/* Reuse Logo Colors */
.logo-medi-footer{
    color: white;
}

.logo-coupons{
    color: #ff1de1;
}

/* Links */
.footer-links h4,
.footer-contact h4{
    margin-bottom: 15px;
    color: white;
}

.footer-links a,
.footer-contact a{
    display: block;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    font-size: 0.95rem;
    transition: 0.3s ease;
}

.footer-links a:hover,
.footer-contact a:hover{
    color: #ff4da6;
    transform: translateX(4px);
}

/* Icons spacing */
.footer-contact i{
    margin-right: 8px;
}

/* Bottom Bar */
.footer-bottom{
    text-align: center;
    padding-top: 30px;
    font-size: 0.85rem;
    color: #d0cdcd;
}