/* ===============================
   GLOBAL
=================================*/
body{
    padding: 0;
    margin: 0;
  background: linear-gradient(135deg, #faf5de, #eaddff, #ffd6e8);
    color: #303153;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}

/* ===============================
   NAVBAR
=================================*/
.navbar{
    background: white;
    --bs-navbar-color: #303153c7;
    --bs-navbar-hover-color: #000000;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.06);
}

.nav-item{
    font-size: 17px;
    font-weight: 500;
    color: #303153;
}

.navbar-brand{
    color: #303153 !important;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    filter: invert(0);
}

.navbar-toggler:focus{
    box-shadow: none;
}

/* ===============================
   OFFCANVAS
=================================*/
.offcanvas{
    background: linear-gradient(135deg, #dff5f7, #fff5f9) !important;
}

.offcanvas a{
    color: #303153 !important;
}

.offcanvas a:hover{
    color: black !important;
}

/* ===============================
   DROPDOWN
=================================*/
.dropdown-menu{
    background: #fff5f9 !important;
    border: none;
}

.dropdown-menu .dropdown-item{
    color: #303153 !important;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #dff5f7;
    color: #000;
}

/* ===============================
   LOGO DESIGN
=================================*/
.logo-brand{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo-text{
    display: flex;
    flex-direction: column;   /* This makes .com go to next line */
    line-height: 1.1;
}

.logo-medi{
    color: #0055ff;
}

.logo-coupons{
    color: #ff1de1;
    margin-left: 0;  /* remove side margin since it's below now */
}

.brand-logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 6px;
}


/* seo section */
.seo-hidden-section{
    display: none;
    max-width:1100px;
    margin:80px auto;
    padding:30px;
    background:#fafafa;
    border-radius:10px;
    font-size:15px;
    line-height:1.7;
    color:#333;
}

.seo-hidden-section h2{
    font-size:24px;
    margin-bottom:15px;
}

.seo-hidden-section h3{
    margin-top:25px;
    font-size:18px;
}

.seo-hidden-section ul{
    padding-left:20px;
}